*{
    margin: 0%;
}
.backgroundImg {
    background-image: url(/src/components/Login/login_background.png);
    background-repeat: no-repeat;
    /* height: 100vh; */
    height: 100%;
    background-position: center;
    background-size: cover;
    
}
.logo {
    /* background-image: url(/public/images/Background.png); */
    background-repeat: no-repeat;
    background-position-x: 25%;
    background-position-y: center;
}
.divider {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dummy {
    flex: 60%;

}
.login-container {
    box-shadow: 2px 2px rgba(128, 128, 128, 0.3);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    /* width: "200px"; */
    background-color: white;
    flex-direction: row;
    flex: 28%;
    margin-left: 15rem;
}
.dummy2 {
    flex: 8%;
}
.input-container {
    margin: 5rem 3rem 6rem 2rem;
}
Input {
    border: none;
}
.heading {
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.heading h2 {
    font-weight: 400;
    color: #043752;
    font-size: x-large;
    font-family: sans-serif;
}
.heading span {
    font-weight: 500;
    font-size: xx-large;
    color: #043752;
    margin-right: 2rem
}
button {
    padding: 3px 0px 3px 0px;
    width: 100%;
    background-color: #2C566D;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.833);
    height: 2rem;
}
.input {
    width: 100%;
    background-color: rgb(232,240,254);
    border-radius: 5px;
    /* color: #043752; */
    border: none;
    margin: 1rem 0rem;
}
.fgtps {
    float:right;
    color: #043752;
    margin-bottom: 0.5rem;
}
.fgtps:hover {
    cursor: pointer;
}

@media (max-width:940px){
    .logo{
        background-position-x:15% ;
        background-position-y:15% ;

    }
    .dummy{
        flex: 5%;
    }
    .login-container{
        flex: 10%;
       
    }
    .dummy2{
        flex:40%
    }
    .backgroundImg{
        background-image: url(/src/components/Login/LOGIN.png)
    }
}

@media (max-width:780px){
    .logo{
        background-position-x:10% ;
      
    }
    .dummy{
        flex: 35%;
    }
    .login-container{
        flex:45%;
        width: 100vw;
    }
    .dummy2{
        flex: 10%;
    }
}
@media(max-width:580px){
    .backgroundImg{
        /* height: 100vh; */
        background-image: url(/src/components/Login/blue.jpg);
    }
    .logo{
        background-image:none ;
    }
    .dummy{
        flex: 35%;
    }
    .login-container{
        flex: 40%;
        margin-left: auto;
        height: 50vh;
        width: 100vw;
        display: block;
        justify-content: center;
        align-items: center;
        box-shadow:none
    }
    .dummy2{
        flex:15%
    }
}
@media  (max-width:475px){
    .backgroundImg{
        background-image: url(/src/components/Login/blue.jpg);
        height: 100vh;
    }
    .logo{
        background-image: none;

    }
    .divider{
        background-color: #ffffff;
        height: 100vh;
    }
    .login-container{
        height: 70vh;
        flex: 100%;
        width: 100vw;
        display: block;
        justify-content: center;
        align-items: center;
        border-radius: 3.5px;
        border: none;
        box-shadow: none
    }
    .dummy{
        flex: 0%;
    }
    .dummy2{
        flex: 0%;
    }
}